* {
    box-sizing: border-box;
}

body {  
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 50px;
  /* border: 2px solid hotpink; */
}
.navbar-logo {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2em;
}
nav {
  display: flex;
  gap: 25px;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
}

/* ------------- HERO SECTION ------------- */

.hero-image {
  background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url('./assets/images/laptop.jpeg') no-repeat center / cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  /* border: 2px red solid; */
}
.hero-text {
    color: white;
  display: flex;
  width: 60%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  /* border: 2px solid orange; */
}
.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
}
.profile {
  line-height: 40px;
  font-size: 1.5em;
}
.solid, .transparent {
    margin: 0 20px;
    padding: 10px 25px;
    border-radius: 30px;
    background: white;
    border: none;
    font-size: 18px;
}
.solid:hover{
    background-color: lime;
}
.transparent {
    background: transparent;
    color: white;
}
.transparent:hover {
    outline: white solid 2px;
}

/* ----------- PROJECT CARDS ----------- */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-heading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    padding: 1em 0;
}
.cards {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}
.card {
    outline: black solid 1px;
    width: 350px;
    height: 500px;
    padding: 20px;
}