/* * {
    margin: 0;
    padding: 0;
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 50px;
}
.navbar-header {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2em;
}
nav {
  display: flex;
  gap: 25px;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
}

/* ------------- HERO SECTION ------------- */

.hero-image {
  background-color: rgba(0, 0, 0, 0.066); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.hero-text {
  display: flex;
  width: 80%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  /* border: 2px solid orange; */
}
.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
}
.profile {
  line-height: 40px;
}
